<nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Time Travel Machine</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to 'Present', root_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to 'Future', future_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to 'Past', past_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to 'Quotes', allquotes_path, class: "nav-link" %>
      </li>
      <% if @user %>
        <li class="nav-item">
          <%= link_to 'Add Quotes', addquote_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          Hi <%= @user.email %>
        </li>
        <li class="nav-item">
          <%= link_to 'Log out', logout_path, class: "nav-link", method: :delete %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to 'Log in', login_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Sign up', signup_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
    </div>
  </div>
</nav>